<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>채팅방 생성</title>
  <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<h1>채팅방 생성</h1>
<form action="/chatroom/create" method="post">
  <label for="title">채팅방 제목:</label>
  <input type="text" id="title" name="title" required>

  <label for="password">비밀번호:</label>
  <input type="password" id="password" name="password" minlength="4" required>

  <button type="submit">생성</button>
</form>
</body>
</html>