<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>채팅방 관리</title>
  <!-- jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <!-- JavaScript 파일 연결 -->
  <script src="/js/manage.js"></script>
  <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<h1>채팅방 관리</h1>

<!-- 검색 기능 -->
<form action="/chatroom/search" method="get" id="searchForm">
  <input type="text" name="keyword" placeholder="검색어를 입력하세요" required id="search-query">
  <button type="submit">검색</button>
</form>

<!-- 채팅방 목록 -->
<h2>채팅방 목록</h2>
<ul id="chatroom-list">
  <li th:each="chatRoom : ${chatRooms}">
    <a th:href="@{/chatroom/{id}(id=${chatRoom.id})}" th:text="${chatRoom.title}"></a>
    <span th:text="${chatRoom.creator}"></span>
  </li>
</ul>

<!-- 채팅방 생성 버튼 -->
<h2>채팅방 생성</h2>
<button id="createRoomBtn">채팅방 생성하기</button>


</body>
</html>