<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>채팅방</title>

  <link rel="stylesheet" href="/css/chat.css">


</head>
<body>
<div>
  <h1>채팅방</h1>
  <button id="goHomeButton" class="home-button">홈으로 가기</button>
  <div>
    <ul>
      <li th:each="message : ${messages}">
        <strong th:text="${message.sender}"></strong>: <span th:text="${message.message}"></span>
        <em th:text="${message.timestamp}"></em>
      </li>
    </ul>
  </div>

  <form action="/chatroom/${chatRoomId}/message" method="post">
    <input type="text" name="sender" placeholder="이름" required>
    <input type="text" name="message" placeholder="메시지" required>
    <button type="submit">보내기</button>
  </form>
</div>
</body>
</html>

<script>

  document.getElementById('goHomeButton').addEventListener('click', function() {
    window.location.href = '/chatroom/manage';
  });

</script>