
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>이름 등록</title>
  <!-- jquery CDN-->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

  <script src="/js/name.js"></script>
</head>
<body>
<div>
  <h1>이름 등록</h1>
  <form id="nameForm">
    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">등록</button>
  </form>
</div>

</body>
</html>
